* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: SFProDisplay;
}

body {
	background-color: #edeff3;
}

*::selection {
	/* background-color: transparent; */
	/* color: transparent; */
}

@font-face {
	font-family: SFProDisplay;
	src: url('./utils/cssFonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
	font-family: SFProDisplay;
	font-weight: bold;
	src: url('./utils/cssFonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
